@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

div {
  display: flex;
}

.RepoCard:hover {
  cursor: pointer;
  background-color: #2e2d3a;
}

.button:hover {
  cursor: pointer;
}
