header.anime{
    background-color: #025059a2;
    height: 10vh;
}
header.anime a {
    transform: scale(0.8);
}
header.pequeno a{
    font-size: 2.5vh;
    padding: 1vh;
}
header.anime.pequeno{
    height: 10vh;
}
#sobre_container.pequeno{
    display: block;
}
#sobre_container.pequeno #sobre_fotos{
    width: 70%;
    margin-bottom: 30px;
}
#sobre_container.pequeno #sobre_content{
    max-width: 100%;
    font-size: 0.9em;
}
