header.anime{
    background-color: #025059a2;
    height: 13vh;
}
header.anime a {
    font-size: 2.2vh;
}
header.pequeno a{
    padding: 10px 1vw;
    font-size: 3vw;
}
#sobre_container.pequeno{
    display: block;
}
#sobre_container.pequeno #sobre_fotos{
    width: 70%;
    margin-bottom: 30px;
}
#sobre_container.pequeno #sobre_content{
    max-width: 100%;
    font-size: 0.9em;
}

