@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
:root{
--color1: #00ffff; 
--color2: #012326; 
--color3: #05F2F2; 
--color4: #04BFBF; 
--color5: #05F2DB; 
--color6: #FF8C64;
}
*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
  }
header{
    width: 100%;
    height: 140px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px;
    transition: 0.6s;
    z-index: 100000;   
}
header nav{
    margin: auto;
    transition: 0.6s;
    width: 100%;
    text-align: center;
}
header a{
    display: inline-block;
    width: auto;
    color: white;
    text-decoration: none;
    padding: 10px 2vw;
    font-weight: bold;
    font-size: 1.8vw; 
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header a:hover{
    transform: scale(1.2);
    text-decoration: underline;
    text-shadow: 0px 0px 10px white;
}
section#home{
    background: url(../img/Background_2.svg) center fixed;
    height: 80vh;
    width: 100%;
}
#home_content{
    background: url(../img/Background_1.png) no-repeat center;
    width: 100%;
    height: 100%;
    margin: auto ;
}
#home_content h2{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    margin: auto;
    color: white;
    font-size: 10vw;
    padding: 15px 10px;
    transform: translateY(30vh);
}
#home_content button:hover{
    background: var(--color3);
    
}
#sobre{
    background-color: white;
    min-height: 95vh;   
}
#sobre h1{
    padding: 70px 0px 0px 0px ;
    text-align: center;
    font-size: 5vh;
    overflow: hidden;
    text-align: center;
}
#sobre h1:before, #sobre h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
#sobre h1:before {
    right: 0.5em;
    margin-left: -50%;
}
#sobre h1:after {
    left: 0.5em;
    margin-right: -50%;
}
#sobre_container{
    padding: 5px;
    margin: 70px 50px auto 50px;
    display: flex; 
}
#sobre_content{
    font-size: 3vh;
    line-height: 7vh;
    margin: 0px auto;
    max-width: 50%;
    text-align: justify;
}
#sobre_content h2{
    margin-bottom: 10px;
}
#sobre_content a{
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    color: white;
    background-color: var(--color3);
}
#sobre_content p{
    margin-bottom: 10px;
}
#sobre_fotos{  
    margin: auto;
    width: 30%;
    height: 100%;
}
#sobre_fotos img{
    width: 100%;
}
#skills{
    height: auto;
    background-color: #111;
    padding: 0px 2%;
    
}
#skills h1{
    font-size: 2.5em;
    padding: 70px 0px 0px;
    text-align: center;
    color: white;
}
#skills h1::before{
    content: '<';
}
#skills h1::after{
    content: '/>';
}
#skills_habilidades{
    padding: 30px;
    margin: auto;
    height: auto;
    text-align: center;
}
.habilidades{
   background-color: #222;
   margin: 1%;
   border-radius: 20px;
   width: 220px;
   height: 350px;
   display: inline-block; 
   transition: 0.6s;
   box-shadow: 4px 4px 2px rgba(27, 27, 27, 0.445);
}
.habilidades:hover{
    background-color: #0f2729;
    width: 225px;
    height: 360px;
    border: solid 2px #00ffff; 
    box-shadow: none;
}
.habilidades .logos{
    width: 80%;
    display: block;
    margin: 25px auto 25px auto;   
}
.habilidades #certificados{
    width: 20%;
    margin-top: 10%;
    opacity: 0;
}
.concluido #certificados{
    display: inline-block;
    opacity: 1;
}
.concluido #certificados:hover{
    cursor: pointer;
}
.habilidades p{
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    font-size: 1.5em;
}
#contato{
    height: auto;
    background-color: #222;
    padding-bottom: 20vh;
}
#contato h1{
    font-size: 2.5em;
    padding: 70px;
    text-align: center;
    color: white;
    
}
#contato_content{
    border-radius: 50px 5px;
    padding: 30px 0px;
    margin: auto;
    width: 60%;
    font-size: 1.5em;
    text-align: center;
}
#contato_content ul{
    list-style-type: none;
    padding: 10px 0px;
}
#contato_content li{
    padding: 5px 0px;
}
#contato_content a{
    color: #222;
    text-decoration: underline;
}
.contatos{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 10px;
    border: solid 3px #222;
    border-radius: 30px;
    box-shadow: 2px 2px 10px black;
    transition: 0.6s;
    background-color: white;
}
.contatos:hover{
    width: 130px;
    height: 130px;
}
.logos_contatos{
    width: 100%;
}
.miniaturas{
    transform: translateY(4px);
    width: 25px;
}
footer{
    background-color: rgb(26, 26, 26);
    text-align: center;
    color: white;
}
footer p{
    padding: 5px;
    font-weight: bold;
}
