body{
    font: normal 20px arial;
    background-color:  rgb(100, 237, 130);
   
}
header{

    background-color: turquoise;
    text-align: center;
    margin: auto;
}
section{
    box-shadow: 15px 15px 2px black;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 50px;
    background-color: white;
    padding: 15px;
    width: 1100px;
    align-items: center; 
}
a{
    color: black;
    font-weight: bolder
    
}
.logos{
    width: 150px;
    height: auto;
}
.miniaturas{
    transform: translateY(4px);
}
#sobre{
    /*background-color: blue;*/
    padding: 10px;
    display: flex;
}
#foto{
    /*background-color: brown;*/
    height: auto;
    width: 200px;
}
#sobre-texto{
    /*background-color: chartreuse;*/
    width:80%;
}
strong#email_contato{
    text-decoration: underline;
}
li{
    padding-bottom: 10px;
}