body{
    font: normal 20px arial;
}
header{
    margin: 50px;
}
section{
    margin: 50px;
}
a{
    color: black;
    font-weight: bolder
    
}
.logos{
    width: 150px;
    height: auto;
}
.miniaturas{
    transform: translateY(4px);
}
#sobre{
    /*background-color: blue;*/
    padding: 10px;
    display: flex;
}
#foto{
    /*background-color: brown;*/
    height: auto;
    width: 200px;
}
#sobre-texto{
    /*background-color: chartreuse;*/
    width:80%;
}
strong#email_contato{
    text-decoration: underline;
}
li{
    padding-bottom: 10px;
}